<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cooeeui.brand.zenlauncher.unittest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".UnitTest"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Category -->

        <activity
            android:name=".category.Categorizer"
            android:label="@string/categorizer" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.cooeeui.brand.zenlauncher.unittest.UNIT_TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cooeeui.brand.zenlauncher.unittest.appintent.AppIntentActivity"
            android:label="@string/appintent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.cooeeui.brand.zenlauncher.unittest.UNIT_TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cooeeui.brand.zenlauncher.unittest.applistLayout.AppHostActivity"
            android:label="@string/applayout"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.cooeeui.brand.zenlauncher.unittest.UNIT_TEST" />
            </intent-filter>
        </activity>

        <!-- Layout -->
        <activity
            android:name=".layout.Workspace"
            android:label="@string/workspace_layout" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.cooeeui.brand.zenlauncher.unittest.UNIT_TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".layout.Drawer"
            android:label="@string/drawer_layout" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.cooeeui.brand.zenlauncher.unittest.UNIT_TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".layout.Dialogs"
            android:label="@string/dialogs_layout" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.cooeeui.brand.zenlauncher.unittest.UNIT_TEST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".layout.SuperDialog"
            android:label="@string/super_dialog_layout"
            android:theme="@style/DialogStyle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.cooeeui.brand.zenlauncher.unittest.UNIT_TEST" />
            </intent-filter>
        </activity>
    </application>

</manifest>